html, body {
	height: 100%;
}

.game {
	display: block;
	width: 100%;
	margin: 0 auto;
	background-image: url("food.png");
}

.player {
	position: relative;
	border-radius: 50%;

	width: 100px;
	height: 100px;
	top: 0;
	left: 0;

	background-color: red;
	border: 1px solid black;
}

div {
	width: 200px;
	height: 100px;
	background-color: #fffee8;
	border-radius: 10px;
	border: 3px solid black;
}